body {
    margin: 0;
    font-family: Verdana;
    background: linear-gradient(to right, #e6ffe6, white);
    animation: fadeIn 1s;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;
    color: white;
    padding: 20px;
}

.photo {
    width: 130px;
    border-radius: 50%;
}

button {
    padding: 10px;
    margin: 5px;
    background: green;
    color: white;
    border: none;
}

section {
    background: #f0fff0;
    margin: 10px;
    padding: 10px;
    border: 2px dashed green;
    animation: slideUp 0.5s;
}

.skills li {
    display: inline-block;
    background: #ccffcc;
    margin: 5px;
    padding: 5px;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes slideUp {
    from {transform:translateY(20px); opacity:0;}
    to {transform:translateY(0); opacity:1;}
}